*

# Top level whitelist
!Cargo.toml
!Cargo.lock
!extension.toml
!README.md
!lib.rs
!.gitignore
!LICENSE

# Let gitignore see inside subdirs
!*/

# Whitelist src
!/src/lib.rs
!/languages/tree-sitter-corpus-tests/*
